# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Virtual environments
venv/
env/
.venv/

# Uploads (PoC images)
uploads/
uploads/**

# Generated reports
Report_*.docx
temp_report.docx

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# ------------------------------
# IMPORTANT:
# Do NOT upload Word templates
# ------------------------------
template.docx
closure_template.docx
